*.o
*.so
*.a
*.out
*.obj
*.exe
*.dll
*.dylib

*.bin
*.b64
*.gpg

*.pem
*.der
*.privkey
*private*
ecc_*_privkey.*
.config_SIM_DEBUG_x64
.config_HW_DEBUG_x64

sealed_key.bin
enclave.signed.so
enclave.so
Enclave_u.*
Enclave_t.*
App.o
app
client
sign_message

*.log
*.dump
*.swp
*.swo
*.bak
.gcs_meta.txt
*.pyc
__pycache__/


